<div class="listBox">

  {{#foreach posts}}
  <div class='item-post-block'>
        <a href="{{url}}">
          <article href="{{url}}" class="listItem">
            <div class="title">
              <h4>
                <span>{{{title}}}</span>
              </h4>
              <span>{{date format="DD-MM-YYYY"}}</span>
            </div>
          </article>
        </a>
    </div>
  {{/foreach}}
</div>

{{pagination}}
