<div class="briefBox">

    {{#if @blog.logo}}
        <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
    {{/if}}
     <nav class='links'>
    <a href='http://github.com/amauricio' target='_blank'>github</a>
    |
    <a href='http://twitter.com/z0ri4m' target='_blank'>twitter</a>
  </nav>
  <a href="{{@blog.url}}">
    <h4 class="blogTitle">{{@blog.title}}</h4>
    <h5 class="blogDescription">
        {{@blog.description}}
    </h5>
  </a>
</div>
